nlp/datasets/*
nlp/results/*
scripts/data/*
scripts/results/*
ai_training/*

ai_projects/hand_finger_counting/data/*
ai_projects/hand_finger_counting/results/*
ai_projects/license_plate_recognition/data/*
ai_projects/license_plate_recognition/results/*
ai_projects/object_classification/data/*
ai_projects/object_classification/results/*
ai_projects/pose_estimation_person/data/*
ai_projects/pose_estimation_person/results/*

*.png
*.jpg
*.jpeg
*h5
*.pyc
*mp4
